<h1>All Comments</h1>

<ul>
    <% @comments.each do |comment| %>
    <li>
        <%= comment.user.username %> says "<%= comment.content %>" about this post: <%= link_to "Edit comment here", edit_comment_url(comment, comment.id)%>
    </li>
    <% end %>
</ul>

