<h1>All Comments</h1>

<ul>
    <% @comments.each do |comment| %>
    <li>
        <%= comment.user.username %> says "<%= comment.content %>" about this post:<%= link_to comment.post.title, post_path(comment)%>
    </li>
    <% end %>
</ul>