<h1>All Comments</h1>

<ul>
    <li>
        <% @comments.each do |comment| %>
        <%= comment.user.username %> says "<%= comment.content %>" about this post:<%= link_to "comment.post.title", post_path(comment)%>
        <% end %>
    </li>
</ul>