<h1><%= index_display_header %></h1>

<% if @posts.empty? %>
    <h2>No posts yet. Write a post <%= link_to 'here', new_post_path %></h2>

<% else %>

<% @posts.each do |post| %>
    <ul><li><%= link_to post.title, post_path(post) %>, Comments: <%= post.comments.size %></li></ul>
<% end %>
<% end %>
